*{
    margin: 0;
    padding: 0;
    
}
.Ahero{
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: show;
}
.Ape{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    /* position: absolute; */
}

.Atext{
    position: absolute;
    bottom: -15%;
    right: 30%;
    background-color: #b08968;
;
    text-align: center;
    width: 40%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    h1{
        color: white;
font-family: 'Dancing Script', cursive; 
font-size: 2.3em;
 }
}
@media screen and (max-width: 768px){
    .Atext{
        width: 60%;
        height: 20vh;
        right: 20%;
        bottom: -25%;
        h1{
            font-size: 14px;
        }
  
    }
   @media screen and (max-width: 768px){

    .Ahero{
        height: 30vh;
    }

    .Ape{
        height: 30vh;
    }

    .Atext{
        width: 220px;
        height: 120px;
        bottom: -40px;
    }

    .Atext h1{
        font-size: 1rem;
        padding: 10px;
    }
} 
}
