.Atwo {
  display: flex;
  gap: 60px;
  padding: 80px;
  align-items: flex-start;
}

/* LEFT SIDE */
.atwo-left {
  flex: 1;
}

.atwo-left h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
   color: #b08968;

}

.atwo-left h2 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 2em;
}

.atwo-left p {
  margin-top: 20px;
  line-height: 1.8;
  color: #555;
  text-align: start;
  font-size: 1rem;
}

/* RIGHT SIDE */
.atwo-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 3em;
}

/* ICON + TITLE ROW */
.info-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.icon {
  font-size: 40px !important;
     color: #b08968;

}

.info-box h1 {
  font-size: 3em;
  margin-bottom: 8px;
}

.info-box p {
  color: #555;
  line-height: 1.6;
}
.atwo-right p {
        font-size: 1rem;
        text-align: start;
        
    }
@media screen and (max-width: 768px) {
  .Atwo {
    flex-direction: column;
    padding: 40px;
  }

  .atwo-left, .atwo-right {
    flex: none;
    width: 100%;
  }
  .atwo-left h1 {
    font-size: 3em;
    padding-top: 2em;
  }
    .atwo-left h2 {
        font-size: 1.5em;
    }
    .atwo-left p {
        font-size: 1em;
        
    }

  .atwo-right {
    padding-top: 2em;
  }
  @media screen and (max-width: 768px) {
  .Atwo {
    flex-direction: column;
    padding: 25px 20px;   /* smaller + better spacing */
    gap: 30px;
  }
}
}