.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding: 100px 8%;
  background-color: #f8f3ee;
  flex-wrap: wrap; /* prevents overlap */
  height: 70vh;
  width: 100%;
  
}

/* Write-up */
.write-up {
  flex: 1;
  max-width: 550px;
}

.write-up h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 25px;
  color: #8b5e3c;
}

.write-up p {
  font-size: 16px;
  line-height: 1.9;
  color: #000;
  margin-bottom: 30px;
}

/* Points section */
.points {
  margin-top: 60px; /* correct spacing */
}

/* Image */
.img {
  flex: 1;
  max-width: 420px;
  width: 100%;
  height: 60vh; /* important */
  aspect-ratio: 4 / 5;
  object-fit: cover;
  border-radius: 220px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
}
@media (max-width: 900px) {
  .section {
    flex-direction: column;
    text-align: center;
    padding: 80px 6%;
  }

  .write-up h1 {
    font-size: 38px;
  }

  .img {
    max-width: 320px;
    border-radius: 180px;
  }

  .points {
 margin-top: 60px;   /* pushes it down properly */   }
}

@media (max-width: 600px) {
  .section {
    padding: 60px 5%;
    gap: 40px;
    height: auto; /* allows it to grow with content */
  }

  .write-up h1 {
    font-size: 28px;
  }

  .write-up p {
    font-size: 10px;
    padding-top: 2px;
  }

  .img {
    max-width: 260px;
    border-radius: 150px;
  }
  .points h2 {
  padding-top: 6em;
}

}
