 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .home {
  position: relative;
  
 }
 .homeimg {
  width: 100%;
  height: 80vh; 
  object-fit: cover;
}
    .clay {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent clay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

    
    .clay h1 {
    font-size: 3em;
    margin-bottom: 20px;
    padding: 0 20px;
    gap: 10px;
    color: white;
    padding-top: 5em;
    }
    .clay p {
    font-size: 1.5em;
    padding-top: 1em;
    gap: 10px;
    color: white;

    }
    button{
        border: 3px solid#b08968;
;
        border-radius: 25px;
        cursor: pointer;
        padding: 10px 15px;
        font-size: 1.1rem;
        
        
    }
    .jar{
        text-decoration: none;
        font-size: 1.6em;
        color: black;
    }
    @media (max-width: 768px) {
    .clay h1 {      
    font-size: 2.5em;
    }
    .clay p {
    font-size: 1em; 
    }
    }   
       
    