*{
    padding:0 ;
    margin:0 ;
}
.section{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f4f2;
}
.write-up{
    width: 50%;
    padding: 20px;

}
.write-up h1{
    font-size: 3rem;
    margin-bottom: 20px;
        color: #b08968;

}
.write-up p{
    font-size: 1rem;
    color: #000;
    text-align: start;
}
.write-up button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #b08968;
    color: white;
    border: none;
    cursor: pointer;
}
.write-up button:hover{
    background-color: #a0785e;
}

.img{
    width: 400;
    height: 400;
    object-fit: cover;
    border-radius: 10px;
}
@media (max-width: 768px) {

    .section{
        flex-direction: column;
        text-align: center;
    }

    .write-up{
        width: 100%;
    }

    .write-up h1{
        font-size: 2rem;
        padding-top: 3em;
        
    }

    .write-up p{
        font-size: 1rem;
        
    }

    .img{
        width: 100%;
        height: auto;
    }
}





